.nav {
  margin-bottom: 2rem;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--border-line); */
  padding: 3% 0;
  display: flex;
  position: relative;
  border-bottom: 4px solid var(--border-line);
}

.productCart {
  align-self: center;
  position: relative;
}

.navCartIcon {
  height: 34px;
  cursor: pointer;
  flex-shrink: 0;
}

.cartCounter {
  display: table;
  padding: 2px 5px;
  background: var(--dark-back);
  color: var(--white-color);
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}
