.checkboxHolder {
  margin-bottom: 13%;
}
.hideBx {
  display: none;
}
.formCheckbox {
  text-transform: capitalize;
  padding-left: 30px;
  background-image: url("../../public/images/empty.svg");
  background-position: left;
  background-size: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkboxHolder input[type="checkbox"]:checked + .formCheckbox {
  background-image: url("../../public/images/checked.svg");
}

.checkboxHolder input[type="radio"]:checked + .formCheckbox {
  background-image: url("../../public/images/checked.svg");
}

.topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}
.productListCategoryGroup {
  padding: 12px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-line);
}
.productListCategoryG {
  padding: 12px 0;
  margin-bottom: 20px;
  border-bottom: none;
}
.productListCategoryTitle {
  justify-content: space-between;
}

.productListCategoryTitle svg {

  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .productListCategoryTitle svg {
    display: block;
  }
  .categoryMobile {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .checkboxHolder {
    margin-bottom: 8%;
    margin-left: 4%;
  }
}
