.productList {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.productList h4 {
  margin-top: 0%;
}
.productListCategoryTitle {
  display: flex;
  position: relative;
}
.category {
  font-weight: 700;
}
.productListCategory {
  width: 100%;
  max-width: 200px;
}
.productListCategoryHide {
  display: none;
}
.productItemsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -5%;
}
.productListCategoryC {
  width: 33%;
}

.productItem {
  width: 30%;
  overflow-x: hidden;
  margin-bottom: 2%;
}

.productItemImage {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.productItemImage img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.productCartBtn {
  position: absolute;
  bottom: -40px;
  left: 0;
  transition: 0.2s ease;
  width: 87%;
  border: 1px solid var(--dark-back);
  padding: 10px;
  background: var(--dark-back);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.productItemImage:hover .productCartBtn {
  bottom: 0px;
  left: 0;
}

.productCategory {
  text-transform: capitalize;
  opacity: 0.5;
  padding: 10px 0;
}
.productName {
  font-weight: 700;
  padding-bottom: 7px;
}
.productPrice,
.premium {
  opacity: 0.5;
}
.productTag {
  padding: 10px 15px;
  font-size: 14px;
  background: var(--white-color);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  left: 0;
  bottom: unset;
}
.productListHeader {
  justify-content: space-between;
  margin-bottom: 3%;
  display: flex;
  position: relative;
  margin-top: 3%;
}
.productListTypeName {
  font-size: 18px;
  line-height: 33px;
}
.slashPad {
  padding: minmax(0 10px, 0 5px);
}

.productListSortFilter {
  align-items: center;
  display: flex;
}
.pho {
  font-weight: 700;
}
.priceOrder {
  padding: 3px 5px;
  padding-right: 17px;
  appearance: none;
  border: none;
  background: var(--white-color);
  background-image: url(../../public/images/carret-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 14px;
}
.productListSort {
  padding-right: 12px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
}

.productListSort img {
  padding-right: 12px;
  width: 27px;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}
.productListMobileSort {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  padding: 7px;
  border: 1px solid var(--dark-back);
  border-radius: 7px;
  display: none;
}

.productListMobileSort img {
  width: 100%;
  object-fit: contain;
}
.sort {
  opacity: 0.7;
  margin-left: 6px;
}

/* Pagination */
.paginationHolder {
  list-style: none;
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationHolder a {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 18px;
  color: var(--paginate-disabled);
  cursor: pointer;
}

.paginationActive a {
  cursor: default;
  pointer-events: none;
  color: var(--dark-back);
}

.prevBtn,
.nextBtn {
  background-image: url(../../public/images/carret-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.prevHolder {
  transform: rotate(90deg);
}

.nextHolder {
  transform: rotate(-90deg);
}
.productListCategoryCHidebx {
  display: none;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .productListSort,
  .priceOrder {
    display: none;
  }
  .productList {
    display: block;
    position: relative;
  }
  .productListMobileSort {
    display: block;
    border: none;
  }
  .productListCategoryC {
    width: 100%;
    background: var(--white-color);
    box-shadow: 0px 3px 12px rgb(0 0 0 / 30%);
    padding: 30px 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  .productItemsList {
    display: block;
    margin-right: 0;
  }
  .productItem {
    width: auto;

    margin-bottom: 5%;
  }
  .productCartBtn {
    bottom: 0px;
    left: 0;
  }
  .productItemImage {
    background: var(--border-line);
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .productItemImage > div {
    display: block !important;
  }
  .productListHeader {
    margin-bottom: 6%;
  }
  .productCartBtn {
    width: 100%;
  }
}
